.row
	.col-md-12
		tabset(justified='true')
			tab(heading='Students', ng-click='selectStudents()', active='studentTab.active')
				.tab-page
					.row.pad-top-6
						.col-md-8.col-sm-8.col-lg-8
							.heading-leftpad-6
								|Student Attendance
						form.col-md-4(ng-show='!viewingStudent')
							.attendance-search.input-group
								input.form-control(type='text', ng-model='filterStudent.name', placeholder='Search by student...')
								span.input-group-addon
									span.glyphicon.glyphicon-search
						.col-md-4.col-sm-4.col-lg-4(ng-show='viewingStudent')
							.thumbnail-container-attendance.pull-right.pargin-rt-6
								img.thumbnail.thumbnail-student-list(ng-if="currentStudent.avatar", src="/api/fs/files/{{currentStudent.avatar}}/download")
								img.thumbnail.thumbnail-student-list(ng-if="!currentStudent.avatar", src="http://placehold.it/32x32.png")
							.attendance-subheading.pull-right
								{{currentStudent.fullName}}
					.pad-top-6
						div.gridStyle(ng-grid='gridOptions', ng-if='!viewingStudent')
					.pad-top-6
						div.gridStyle(ng-grid='studentGridOptions', ng-if='viewingStudent')
			tab(heading='Classes', ng-click='selectClasses()')
				.tab-page
					.row.pad-top-6
						.col-md-8.col-sm-8.col-lg-8
							.heading-leftpad-6
								|Class Attendance
						.col-md-4.col-sm-4.col-lg-4
							.attendance-subheading.pull-right
								{{currentClass}}
					.pad-top-6
						div.gridStyle(ng-grid='classGridOptions', ng-if='!viewingClass')
						div.gridStyle(ng-grid='gridOptions', ng-if='viewingClass')
			tab(heading='Workshops', ng-click='selectWorkshops()')
				.tab-page
					.row.pad-top-6
						.col-md-6.col-sm-6.col-lg-6
							.heading-leftpad-6
								|Workshop Attendance
						.col-md-6.col-sm-6.col-lg-6
							.btn-toolbar.pull-right(ng-show='!showGenerateEmailListConfirm && viewingWorkshop')
								button.btn.btn-default(type='button', ng-click='generateEmailList()')
									.glyphicon.glyphicon-envelope
							.pull-right(ng-show='showGenerateEmailListConfirm')
								.btn-toolbar
									span.text-muted 
										|Generate e-mail distribution list for 
										{{currentWorkshop}}
									button.btn.btn-success(type='button', ng-click='confirmGenerateEmailList(true)') Yes
									button.btn.btn-danger(type='button', ng-click='confirmGenerateEmailList(false)') No
							.attendance-subheading.pull-right(ng-show='!showGenerateEmailListConfirm')
								{{currentWorkshop}}
					.pad-top-6
						div.gridStyle(ng-grid='workshopGridOptions', ng-if='!viewingWorkshop')
						div.gridStyle(ng-grid='gridOptions', ng-if='viewingWorkshop')
