h1 Register Student - Enter {{currentStep.name}}

div.row
	div.col-md-3
		ul.nav.nav-pills.nav-stacked.wizard-steps
			li(ng-repeat="step in wizardSteps", ng-class="{'active':currentStep.id === step, 'disabled':isStepEnabled(step) != true}")
				a(ng-click='goToStep(step)', href="/admin/students/create") {{getStepName(step)}}

	div.col-md-9
		form(name="createStudent", ng-submit="submit()", autocomplete="off")
			div.wizard_body.panel(ui-view="create-student-wzd-body")

			div.form-controls.pull-left
				button.btn.btn-danger(type='button', ng-show='!showResetConfirm', ng-click='reset()') Reset Registration Form

				div(ng-show='showResetConfirm')
					p.text-muted Are you sure you wish to reset form?
					button.btn.btn-danger(type='reset', ng-click='confirmReset(true)') Yes
					button.btn.btn-success(type='button', ng-click='confirmReset(false)') No

			div.form_controls.pull-right
				button.btn.btn-default(type='button', ng-click='previous()', ng-show='displayPreviousBtn()') Previous
				button.btn.btn-primary(type='submit', ng-show='displayContinueBtn()', ng-disabled='createStudent.$invalid') Continue
				button.btn.btn-success(type='submit', ng-show='displaySubmitBtn()', ng-disabled='createStudent.$invalid || submitBtnDisabled') {{submitBtnContent}}