h1 Create Student

tabset(vertical='false', justified='false')
	tab(heading='Basic')
		form
			div(class='input-group')
				input(type='text', class='form-control', placeholder='First name')
				span(class='input-group-addon')
					span(class='glyphicon glyphicon-ok input-valid')

			div(class='input-group')
				input(type='text', class='form-control', placeholder='Last name')
				span(class='input-group-addon')
					span(class='glyphicon glyphicon-remove input-invalid', tooltip-placement='left', tooltip='{{lastnamehelp}}')

			div(class='input-group')
				input(type='text', class='form-control', placeholder='Email address')
				span(class='input-group-addon')
					span(class='glyphicon glyphicon-info-sign input-help', tooltip-placement='left', tooltip='{{emailhelp}}')

			div(class='input-group')
				input(type='text', placeholder='Enter date of birth', class='form-control', datepicker-popup="{{format}}", ng-model="dt", is-open="opened", datepicker-options="dateOptions", min-date="minDate", max-date="'2015-06-22'", date-disabled="disabled(date, mode)", ng-required="true", close-text="Close")
				span(class='input-group-btn')
					button(type='button', class='btn btn-default', ng-click="open($event)")
						i(class="glyphicon glyphicon-calendar")


			input(type='submit', value='Continue to Class Information', class='pull-right')
			input(type='reset', value='Reset Basic Information', class='pull-right')

			div(class='clearfix')

	tab(heading='Class', disabled='true') Coming soon
	tab(heading='Picture', disabled='true') Coming soon
	tab(heading='Signature', disabled='true') Coming soon


// - To handle navigation we will use UI router so each state is explicitly defined