.row
	.well
		span
			i.glyphicon.glyphicon-pushpin 
			span(ng-if="hasNotifications() && !editingNotifications")
				strong
					em (Last Viewed: {{ currentStudent.message.viewed ? (currentStudent.message.viewed | date : format : medium) : 'Never' }})
			span(ng-if="hasNotifications() && !editingNotifications")  {{currentStudent.message.value}} 
				a.btn.btn-sm.btn-default(ng-click="editNotifications()") Edit Message
			span(ng-if="!hasNotifications() && !editingNotifications")  No messages added for {{currentStudent.firstName}}. 
				a.btn.btn-sm.btn-default(ng-click="addNotifications()") Add Message
			span(ng-if="editingNotifications")  Enter message in textbox below. 
				a.btn.btn-sm.btn-default(ng-click="saveNotifications()") Save Message
			br(ng-if="editingNotifications")
			textarea(ng-if="editingNotifications", style="width:100%;", ng-model="currentStudent.message.value", cols="2")
			br(ng-if="editingNotifications")
			input(ng-if="editingNotifications", type="checkbox", ng-model="currentStudent.message.show", ng-checked="currentStudent.message.show")
			span(ng-if="editingNotifications")  Display message next time student checks in?

.row
	.col-md-6
		// - avatar
		img.thumbnail.thumbnail-view-student(ng-if="currentStudent.avatar", src="/api/fs/files/{{currentStudent.avatar}}/download")
		img.thumbnail.thumbnail-view-student(ng-if="!currentStudent.avatar", src="http://placehold.it/32x32.png")
	.col-md-6
		.col-md-12
			h1 {{currentStudent.firstName}} {{currentStudent.lastName}}
		.col-md-12
			// address
			p 
				| {{currentStudent.address.street}} 
				br
				| {{currentStudent.address.city}}, {{currentStudent.address.state}} {{currentStudent.address.zip}}
		.col-md-12
			// birthday
			p
				span.glyphicon.glyphicon-calendar &nbsp;
				| {{currentStudent.birthday | date: 'MM/dd/yyyy' }}&nbsp;&nbsp;(Age: {{currentStudent.birthday | age}})
				br
				span.glyphicon.glyphicon-envelope(ng-repeat='email in currentStudent.emailAddresses') &nbsp;{{email}} &nbsp; 
				br
				span.glyphicon.glyphicon-home &nbsp;
				| {{currentStudent.phone.home | phoneNumber}}
				br
				span.glyphicon.glyphicon-phone &nbsp;
				| {{currentStudent.phone.cell | phoneNumber}}
.row
	h2.col-md-12 Emergency Contacts
	.col-md-5(ng-show='showEContact1()')
		h3 Primary Contact
		.well {{currentStudent.emergencyContacts[0].name}} ({{currentStudent.emergencyContacts[0].relationship}})<br />{{currentStudent.emergencyContacts[0].phoneNumber | phoneNumber}}
	.col-md-2(ng-show='showEContact1()')
	.col-md-5(ng-show='showEContact2()')
		h3 Secondary Contact
		.well {{currentStudent.emergencyContacts[1].name}} ({{currentStudent.emergencyContacts[1].relationship}})<br />{{currentStudent.emergencyContacts[1].phoneNumber | phoneNumber}}

.row
	h2.col-md-12 Waiver Information
	.col-md-12
		p Participant: {{currentStudent.signaturedata.participant}}
		p Guardian: {{currentStudent.signaturedata.guardian}}
	.col-md-12
		img(src="{{currentStudent.signaturedata.data}}")

.row
	.well
		span
			i.glyphicon.glyphicon-pushpin 
			span &nbsp;Enter Notes for {{currentStudent.firstName}} Below
			span &nbsp;
				a.btn.btn-sm.btn-default(ng-click="saveNotes()") Save Notes
			textarea(style="width:100%;margin-top:5px;", ng-model="currentStudent.notes", cols="3", rows="5")

.row
	.btn-toolbar.pull-left
		button.btn.btn-default(type='button', ng-click='backToHome()') Back
		button.btn.btn-default(type='button', ng-click='editStudent()') Edit
		button.btn.btn-danger(type='button', ng-show='!showRemoveConfirm', ng-click='remove()') Remove
	.pull-left.margin-left-10(ng-show='showRemoveConfirm')
		.btn-toolbar
			span.text-muted Are you sure you wish to remove this student?
			button.btn.btn-danger(type='button', ng-click='confirmRemove(true)') Yes
			button.btn.btn-success(type='button', ng-click='confirmRemove(false)') No


div(class='clearfix')