div.well
	p In consideration of the use and enjoyment of the training, property and equipment at Tioga Tae Kwon Do, LLC (the "Company"), I agree and understand that all exercises and activities in any program offered by the Company, its owners or other affiliated companies or parties, are undertaken at my own risk and I hereby waive, release and discharge any and all claims for death, personal injury or property damages which I may have, or which may subsequently accrue to me against the Company, its agents or employees. It is expressly agreed and understood by me that physical fitness training generally, and Martial Arts training specifically, can be dangerous, and that bruises, bumps, scratches and other injuries are commonplace and most students will encounter such injuries from time to time in their training. I also understand that there exists, despite safety precautions, the possibility of more serious injuries including, but not limited to, fractured bones, torn ligaments, neurological or other serious injuries, and even death. I hereby acknowledge that I am assuming full responsibility for my own safety, with full understanding and acceptance of the risks involved with Martial Arts training. By assuming this risk, I completely waive for myself, my heirs and assigns, any and all rights, now and forever, and absolve the Company, its owners, staff, students and any other affiliated parties, of liability for any such injuries or damages.
	p For good and valuable consideration, the receipt of which is hereby acknowledged, I give Tioga Tae Kwon Do, LLC, its assigns, licensees, successors in interest, legal representatives, and heirs (collectively, "TTKD") the irrevocable right to use my name (or any fictional name), picture, portrait, photograph orvideo image (collectively, my "image") in all forms and in all media and in all manners, without any restriction as to changes or alterations (including but not limited to composite or distorted representations or derivative works made in any medium) for advertising, trade, promotion, exhibition, or any other lawful purposes. I waive any right to inspect or approve the use of my image or finished version(s) incorporating same, including without limitation, written copy used with such image. I hereby release and agree to hold harmless TTKD from any liability by virtue of any use of my image, in any form, in any media, and in any manner. I agree that TTKD owns the copyright of my image as obtained or provided pursuant to this Consent, and I hereby waive any claims I have based on any usage of such image derived therefrom, including but not limited to claims for either invasion of privacy or libel. I am of full age and competent to sign this Consent or, if so indicated below, I am the parent or legal guardian of the minor named below and, as such, I have the legal authority to execute this Consent on behalf of such minor. I agree that this Consent shall be binding on me, my legal representatives, heirs, and assigns.

div.form-group
	div.input-group
		input.form-control(type='text', name='participantName', placeholder='Full name of participant', ng-model="model.waiver.participant", required, ng-minlength='2', ng-maxlength='128')
		span.input-group-addon
			span.glyphicon.glyphicon-asterisk(ng-show="createStudent.participantName.$invalid && createStudent.participantName.$pristine")
			span.glyphicon.glyphicon-remove(ng-show="createStudent.participantName.$invalid && !createStudent.participantName.$pristine")
			span.glyphicon.glyphicon-ok(ng-show="createStudent.participantName.$valid")
	p.text-muted.error(ng-show="createStudent.participantName.$invalid && !createStudent.participantName.$pristine") Student's full name must be between 2 and 128 characters long.

div.form-group
	div.input-group
		input.form-control(type='text', name='guardianName', placeholder='Full name of parent/guardian', ng-model="model.waiver.guardian", required, ng-minlength='2', ng-maxlength='128')
		span.input-group-addon
			span.glyphicon.glyphicon-asterisk(ng-show="createStudent.guardianName.$invalid && createStudent.guardianName.$pristine")
			span.glyphicon.glyphicon-remove(ng-show="createStudent.guardianName.$invalid && !createStudent.guardianName.$pristine")
			span.glyphicon.glyphicon-ok(ng-show="createStudent.guardianName.$valid")
	p.text-muted.error(ng-show="createStudent.guardianName.$invalid && !createStudent.guardianName.$pristine") Guardian's full name must be between 2 and 128 characters long.

p.text-muted(ng-class='{error: model.signaturedata.errors && model.signaturedata.errors != null}') By signing below, I agree that this Consent shall be binding on me, my legal representatives, heirs, and assigns.

sigpad(data='model.signaturedata')