h1 Create Program
br

form.form-group
	.input-group
		input(type='text', class='form-control', placeholder='Program name' ng-model="newProgram.name")
		span(class='input-group-addon')
			span(ng-show='!isEmpty(newProgram.name)', class='glyphicon glyphicon-ok input-valid')
			span(ng-show='isEmpty(newProgram.name)', class='glyphicon glyphicon-remove input-invalid')

	h2 Classes
	table.table
		tr
			th Name
			th Students
			th
		tr(ng-repeat='class in newProgram.classes')
			td 
				{{class.name}}
			td
				a(href='#') Students
			td
				.pull-right
					button.btn.btn-default.glyphicon.glyphicon-edit(ng-click='goToEditClass(class)')
					button.btn.btn-danger.glyphicon.glyphicon-remove(type='button' ng-click='removeClass(class)')
		tr
			td
				button.btn.btn-success.glyphicon.glyphicon-plus(type='button' ng-click='goToCreateClass()')
			td
			td
	h2 Ranks
	table.table
		tr
			th Name
			th Order 
			th Sub-ranks
			th
		tr(ng-repeat='rank in newProgram.ranks')
			td 
				{{rank.name}}
			td
				{{rank.rankOrder}}
			td
				a(href='#') SUB-RANKS
			td
				.pull-right
					button.btn.btn-default.glyphicon.glyphicon-edit(ng-click='goToEditRank(rank)')
					button.btn.btn-danger.glyphicon.glyphicon-remove(type='button' ng-click='removeRank(rank)')
		tr
			td
				button.btn.btn-success.glyphicon.glyphicon-plus(type='button' ng-click='goToCreateRank()')
			td
			td
			td

	input.btn.btn-primary.pull-right(ng-disabled='!canSaveProgram()' type='submit', value='Create Program', ng-click='createProgram()')
	input.btn.btn-warning.pull-right(type='reset', value='Cancel', ng-click='cancelCreate()')

	div(class='clearfix')
