h1 Edit Program
br
form.form-group
	.input-group
		input(type='text', class='form-control', placeholder='Program name' ng-model="currentProgram.name")
		span(class='input-group-addon')
			span(ng-show='!isEmpty(currentProgram.name)', class='glyphicon glyphicon-ok input-valid')
			span(ng-show='isEmpty(currentProgram.name)', class='glyphicon glyphicon-remove input-invalid')

	h2 Classes
	table.table
		tr
			th Name
			th Students
			th
		tr(ng-repeat='class in currentProgram.classes')
			td 
				{{class.name}}
			td
				a(href='#') Students
			td
				.pull-right
					button.btn.btn-default.glyphicon.glyphicon-edit(ng-click='goToEditClass(class)')
					button.btn.btn-danger.glyphicon.glyphicon-remove(type='button' ng-click='removeClass(class)')
		tr
			td
				button.btn.btn-success.glyphicon.glyphicon-plus(type='button' ng-click='goToCreateClass()')
	h2 Ranks
	table.table
		tr
			th Name
			th Order 
			th Sub-ranks
			th
		tr(ng-repeat='rank in currentProgram.ranks')
			td 
				{{rank.name}}
			td
				{{rank.rankOrder}}
			td
				a(href='#') SUB-RANKS
			td
				.pull-right
					button.btn.btn-default.glyphicon.glyphicon-edit(ng-click='goToEditRank(rank)')
					button.btn.btn-danger.glyphicon.glyphicon-remove(type='button' ng-click='removeRank(rank)')
		tr
			td
				button.btn.btn-success.glyphicon.glyphicon-plus(type='button' ng-click='goToCreateRank()')


	input.btn.btn-primary.pull-right(ng-disabled='!canSaveProgram()' type='submit', value='Save Program', ng-click='saveProgram()')
	input.btn.btn-warning.pull-right(type='reset', value='Cancel', ng-click='cancelEdit()')

	div(class='clearfix')