h1 Edit Program
br
form.form-group
	.input-group
		input(type='text', class='form-control', placeholder='Program name' ng-model="currentProgram.name")
		span(class='input-group-addon')
			span(ng-show='!isEmpty() && !isDupName()', class='glyphicon glyphicon-ok input-valid')
			span(ng-show='isEmpty() || isDupName()', class='glyphicon glyphicon-remove input-invalid')
	p.text-muted.error(ng-show='isDupName()') Program name must be unique!

	tabset.ptab.pad-top-20
		tab(heading='Classes')
			.tab-page
				.row.row-margin-bottom-10
					.col-md-12.pad-top-12
						.btn-toolbar.pull-left
							button.btn.btn-primary(type='button', ng-click='goToCreateClass()') Create New Class
							button.btn.btn-danger(type='button', ng-disabled='removeClassDisabled()', ng-click='removeSelectedClasses()', ng-show='!showRemoveClassesConfirm') Remove Selected
						.pull-left.margin-left-10(ng-show='showRemoveClassesConfirm && classGridOptions.selectedItems.length > 0')
							.btn-toolbar
								span.text-muted(ng-show='classGridOptions.selectedItems.length > 1') Are you sure you wish to remove the {{classGridOptions.selectedItems.length}} selected classes?
								span.text-muted(ng-show='classGridOptions.selectedItems.length == 1') Are you sure you wish to remove the selected class?
								button.btn.btn-danger(type='button', ng-click='confirmRemoveClasses(true)') Yes
								button.btn.btn-success(type='button', ng-click='confirmRemoveClasses(false)') No
				.row
					.col-md-12
						div.gridStyle.grid-med(ng-grid='classGridOptions')
		tab(heading='Ranks')
			.tab-page
				.row.row-margin-bottom-10
					.col-md-12.pad-top-12
						.btn-toolbar.pull-left
							button.btn.btn-primary(type='button', ng-click='goToCreateRank()') Create New Rank
							button.btn.btn-danger(type='button', ng-disabled='removeRankDisabled()', ng-click='removeSelectedRanks()', ng-show='!showRemoveRanksConfirm') Remove Selected
						.pull-left.margin-left-10(ng-show='showRemoveRanksConfirm && rankGridOptions.selectedItems.length > 0')
							.btn-toolbar
								span.text-muted(ng-show='rankGridOptions.selectedItems.length > 1') Are you sure you wish to remove the {{rankGridOptions.selectedItems.length}} selected ranks?
								span.text-muted(ng-show='rankGridOptions.selectedItems.length == 1') Are you sure you wish to remove the selected rank?
								button.btn.btn-danger(type='button', ng-click='confirmRemoveRanks(true)') Yes
								button.btn.btn-success(type='button', ng-click='confirmRemoveRanks(false)') No
				.row
					.col-md-12
						div.gridStyle.grid-med(ng-grid='rankGridOptions')


	input.btn.btn-primary.pull-right(ng-disabled='!canSaveProgram()' type='submit', value='Save Program', ng-click='saveProgram()')
	input.btn.btn-warning.pull-right(type='reset', value='Cancel', ng-click='cancelEdit()')

	div(class='clearfix')