h1 Programs
.row.row-margin-bottom-10
	.col-md-12
		.btn-toolbar.pull-left
			button.btn.btn-primary(type='button', ng-click='goToCreateProgram()') Create new program
			button.btn.btn-danger(type='button', ng-disabled='removeDisabled()', ng-click='removeSelected()', ng-show='!showRemoveConfirm') Remove selected
		.pull-left.margin-left-10(ng-show='showRemoveConfirm && gridOptions.selectedItems.length > 0')
			.btn-toolbar
				span.text-muted(ng-show='gridOptions.selectedItems.length > 1') Are you sure you wish to remove the {{gridOptions.selectedItems.length}} selected programs?
				span.text-muted(ng-show='gridOptions.selectedItems.length == 1') Are you sure you wish to remove the selected program?
				button.btn.btn-danger(type='button', ng-click='confirmRemove(true)') Yes
				button.btn.btn-success(type='button', ng-click='confirmRemove(false)') No
.row
	.col-md-12
		div.gridStyle(ng-grid='gridOptions')