h1 Programs

ul
	li(ng-repeat='program in programs')
		{{program.name}}

button.btn.btn-default(ng-click='goToAddProgram()')
	| Create new program
button(ng-click='removeSelected()')
	| Remove selected
table(style='width: 50%' class="table borderless")
	tr 
		th
			input(type='checkbox' ng-model='allChecked' ng-change='checkAll()')
		th Name
		th Classes
		th Ranks
		th Actions
	tr(ng-repeat='program in programs')
		td
			input(type='checkbox' ng-model='program.selected')
		td {{program.name}}
		td
			div(ng-repeat='className in program.classNames') 
				{{className}}
		td
			div(ng-repeat='rankName in program.rankNames')
				{{rankName}}
		td
			button(class='btn btn-small' ng-click='removeProgram(program)')
				span(class='glyphicon glyphicon-remove')

