h1 Programs
.col-md-8.col-sm-8
	button.btn.btn-primary(ng-click='goToAddProgram()')
		| Create new program
	button.btn.btn-default(ng-click='removeSelected()')
		| Remove selected
	table(class="table borderless")
		tr 
			th
				input(type='checkbox' ng-model='allChecked' ng-change='checkAll()')
			th Name
			th Classes
			th Ranks
			th Actions
		tr(ng-repeat='program in programs')
			td
				input(type='checkbox' ng-model='program.selected')
			td {{program.name}}
			td
				div(ng-repeat='className in program.classNames') 
					{{className}}
			td
				div(ng-repeat='rankName in program.rankNames')
					{{rankName}}
			td
				button.btn.btn-small.btn-danger(ng-click='removeProgram(program)')
					span.glyphicon.glyphicon-remove
				button.btn.btn-small.btn-default
					span.glyphicon.glyphicon-edit

