h1 {{currentProgram.name}}
br

h2 Classes
table.table
	tr
		th.col-md-6.col-sm-6.col-lg-6.col-xs-6 Name
		th.col-md-6.col-sm-6.col-lg-6.col-xs-6 Students
		th Actions
	tr(ng-repeat='class in currentProgram.classObjs')
		td 
			{{class.name}}
		td
			a(href='#') Students
		td
			button.btn.btn-info.glyphicon.glyphicon-eye-open.pull-right(ng-click='goToViewClass(class)')


h2 Ranks
table.table
	tr
		th.col-md-4.col-sm-4.col-lg-4.col-xs-4 Name
		th.col-md-4.col-sm-4.col-lg-4.col-xs-4 Order 
		th.col-md-4.col-sm-4.col-lg-4.col-xs-4 Sub-ranks
		th Actions
	tr(ng-repeat='rank in currentProgram.rankObjs')
		td 
			{{rank.name}}
		td
			{{rank.rankOrder}}
		td
			| SUB-RANKS
		td
			button.btn.btn-info.glyphicon.glyphicon-eye-open.pull-right(ng-click='goToViewRank(rank)')

input.btn.btn-warning.pull-right(type='reset', value='Back', ng-click='backToHome()')

div(class='clearfix')