h1 {{currentProgram.name}}
h2 Classes
.row
	.col-md-12
		div.gridStyle(ng-grid='classGridOptions')
h2 Ranks
.row
	.col-md-12
		div.gridStyle(ng-grid='rankGridOptions')

input.btn.btn-warning.pull-right(type='reset', value='Back', ng-click='back()')

div(class='clearfix')