h1 {{currentProgram.name}}
.row
	.col-md-12.no-border-bottom
		tabset.ptab
			tab(heading='Classes')
				div.gridStyle(ng-grid='classGridOptions')
			tab(heading='Ranks')
				div.gridStyle(ng-grid='rankGridOptions')
input.btn.btn-warning.pull-right(type='reset', value='Back', ng-click='back()')

div(class='clearfix')