h1 {{currentProgram.name}}
.row
	.col-md-12
		tabset.ptab
			tab(heading='Classes', active='showClasses')
				.tab-page
					.row
						.col-md-12.pad-top-12
							div.gridStyle(ng-grid='classGridOptions')
			tab(heading='Ranks', active='showRanks')
				.tab-page
					.row
						.col-md-12.pad-top-12
							div.gridStyle(ng-grid='rankGridOptions')
input.btn.btn-warning.pull-right(type='reset', value='Back', ng-click='back()')

div(class='clearfix')