h1 Create Class
br

form.form-group
	h2 Name
	.input-group
		input(type='text', class='form-control', placeholder='Class name' ng-model="newClass.name")
		span(class='input-group-addon')
			span(ng-show='!isEmpty(newClass.name) && !isDupName()', class='glyphicon glyphicon-ok input-valid')
			span(ng-show='isEmpty(newClass.name) || isDupName()', class='glyphicon glyphicon-remove input-invalid')
	p.text-muted.error(ng-show='isDupName()') Class name must be unique!
	h2 Students

	input.btn.btn-primary.pull-right(ng-disabled='!canCreateClass()', type='submit', value='Create Class', ng-click="createClass()")
	input.btn.btn-warning.pull-right(type='reset', value='Cancel', ng-click='cancelCreate()')

	div(class='clearfix')
