h1 {{currentClass.name}}
.row
	.col-md-12
		div
			h2 Students
			.anchor-bottom-right.pad-bottom-0
				button.btn.btn-default(ng-show='!showGenerateEmailListConfirm', type='button', ng-click='generateEmailList()')
					.glyphicon.glyphicon-envelope
				.pull-right(ng-show='showGenerateEmailListConfirm')
					.btn-toolbar
						span.text-muted Generate e-mail distribution list for this class?
						button.btn.btn-success(type='button', ng-click='confirmGenerateEmailList(true)') Yes
						button.btn.btn-danger(type='button', ng-click='confirmGenerateEmailList(false)') No
.row
	.col-md-12
		div.gridStyle(ng-grid="gridOptions")
.row
	.col-md-12
		.btn-toolbar
			button.btn.btn-warning.pull-right(type='button', ng-click='goBack()')
				| Back to Program

div(class='clearfix')
