h1 {{currentClass.name}}
.row
	.col-md-12
		.pull-left
			h2 Students
		.anchor-bottom-right
			button.btn.btn-default(type='button', ng-click='generateEmailDistList()')
				.glyphicon.glyphicon-envelope
.row
	.col-md-12
		div.gridStyle(ng-grid="gridOptions")
.row
	.col-md-12
		.btn-toolbar
			button.btn.btn-warning.pull-right(type='button', ng-click='goBack()')
				| Back to Program

div(class='clearfix')
