form
	h2 Primary Emergency Contact
	div.input-group
		input.form-control(type='text', placeholder='Full name', ng-model="model.fullName1")
		span.input-group-addon
			span.glyphicon(popover="{{econtactFullname1Help.value}}", ng-class="{'glyphicon-info-sign': econtactFullname1Help.type=='info', 'glyphicon-remove': econtactFullname1Help.type=='error', 'glyphicon-ok': econtactFullname1Help.type=='valid'}", popover-trigger="mouseenter", popover-placement="left")

	div.row.input-group
		div.col-md-6
			div.input-group
				input.form-control(type='tel', placeholder='Phone number', ng-model="model.phoneNumber1", ui-mask="{{'(999) 999-9999'}}")
				span.input-group-addon
					span.glyphicon(popover="{{econtactPhonenumber1Help.value}}", ng-class="{'glyphicon-info-sign': econtactPhonenumber1Help.type=='info', 'glyphicon-remove': econtactPhonenumber1Help.type=='error', 'glyphicon-ok': econtactPhonenumber1Help.type=='valid'}", popover-trigger="mouseenter", popover-placement="left")

		div.col-md-6
			div.input-group
				input.form-control(type='text', placeholder='Relationship', ng-model="model.relationship1")
				span.input-group-addon
					span.glyphicon(popover="{{econtactRelationship1Help.value}}", ng-class="{'glyphicon-info-sign': econtactRelationship1Help.type=='info', 'glyphicon-remove': econtactRelationship1Help.type=='error', 'glyphicon-ok': econtactRelationship1Help.type=='valid'}", popover-trigger="mouseenter", popover-placement="left")

	h2 Secondary Emergency Contact
	div.input-group
		input.form-control(type='text', placeholder='Full name', ng-model="model.fullName2")
		span.input-group-addon
			span.glyphicon(popover="{{econtactFullname2Help.value}}", ng-class="{'glyphicon-info-sign': econtactFullname2Help.type=='info', 'glyphicon-remove': econtactFullname2Help.type=='error', 'glyphicon-ok': econtactFullname2Help.type=='valid'}", popover-trigger="mouseenter", popover-placement="left")

	div.row.input-group
		div.col-md-6
			div.input-group
				input.form-control(type='tel', placeholder='Phone number', ng-model="model.phoneNumber2", ui-mask="{{'(999) 999-9999'}}")
				span.input-group-addon
					span.glyphicon(popover="{{econtactPhonenumber2Help.value}}", ng-class="{'glyphicon-info-sign': econtactPhonenumber2Help.type=='info', 'glyphicon-remove': econtactPhonenumber2Help.type=='error', 'glyphicon-ok': econtactPhonenumber2Help.type=='valid'}", popover-trigger="mouseenter", popover-placement="left")

		div.col-md-6
			div.input-group
				input.form-control(type='text', placeholder='Relationship', ng-model="model.relationship2")
				span.input-group-addon
					span.glyphicon(popover="{{econtactRelationship2Help.value}}", ng-class="{'glyphicon-info-sign': econtactRelationship2Help.type=='info', 'glyphicon-remove': econtactRelationship2Help.type=='error', 'glyphicon-ok': econtactRelationship2Help.type=='valid'}", popover-trigger="mouseenter", popover-placement="left")