h1 Create Rank
br

form.form-group
	h2 Name
	.input-group
		input(type='text', class='form-control', placeholder='Rank name' ng-model="rank.name")
		span(class='input-group-addon')
			span(ng-show='!isEmpty(rank.name) && !isDupName()', class='glyphicon glyphicon-ok input-valid')
			span(ng-show='isEmpty(rank.name) || isDupName()', class='glyphicon glyphicon-remove input-invalid')
	p.text-muted.error(ng-show='isDupName()') Rank name must be unique!

	h2 Order
	.dropdown
		button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
			{{rank.rankOrder}}
			span.caret
		ul.dropdown-menu(role='menu')
			li(ng-repeat='i in dropdown.items' role='presentation')
				a.dropdown-toggle(href='#' role='menuitem' tabindex='-1' ng-click='setRankOrder(i)') {{i}}
	p.text-muted.error(ng-show='showOrderWarning') Changing this rank's order to {{rank.rankOrder}} will change the order of rank {{swapRank.name}} to {{swapRank.newRankOrder}}

	input.btn.btn-primary.pull-right(ng-disabled='!canCreateRank()', type='submit', value='Create Rank', ng-click="createRank()")
	input.btn.btn-warning.pull-right(type='reset', value='Cancel', ng-click='cancelCreate()')

	div(class='clearfix')