div
	div.swiper-slide(ng-repeat="studentSet in students", ttkd-swiper-lateral-item-student-subset, parent="swiperParent")
		div.col-md-4(ng-repeat="student in studentSet.students" style="height:33%; padding:15px;")
			div.height-full.panel(ttkd-swiper-slide-item-student student="student" style="padding:10px")