.student.height-full
	.name {{studentName}}
	div(style="height:100%; padding-top:18px; padding-bottom:36px;")
		.picture.height-full(style="background: url(/api/fs/files/{{studentAvatar}}/download) no-repeat center; background-size:contain;")
	div(style="margin-top:-52px")
		button.btn.btn-primary(type="button", style="height: 34px;") Check-In