//- doctype html
//- html.no-js
//- 	head
//- 	meta(charset='utf-8')
//- 	title
//- 	meta(name='description', content='')
//- 	meta(name='viewport', content='width=device-width')
//- 	// Place favicon.ico and apple-touch-icon.png in the root directory 
//- 	// build:css styles/vendor.css 
//- 	// bower:css 
//- 	// endbower 
//- 	// endbuild 
//- 	// build:css({.tmp,app}) styles/main.css 
//- 	link(rel='stylesheet', href='styles/main.css')
//- 	// endbuild 
//- 	body
//- 		div(ng-controller='tabCtrl')
//- 			tabset(justified='true' type='pills')
//- 				tab(ng-repeat='tab in tabs' ui-sref='{{tab.state}}' heading='{{tab.title}}' active='tab.active' class='h4')
//- 					div(ui-view)
//- 				tab
//- 					tab-heading
//- 						i(class='glyphicon glyphicon-cog')
//- 	script(src='bower_components/requirejs/require.js', data-main='scripts/dependencies.js')
//- 	// endbower 
//- 	// endbuild 
//- 	// build:js({.tmp,app}) scripts/scripts.js 
//- 	script(src='scripts/app.js')
//- 	// endbuild 


doctype html
html.no-js
	head
	meta(charset='utf-8')
	title
	meta(name='description', content='')
	base(href="/")
	meta(name='viewport', content='width=device-width')
	// Place favicon.ico and apple-touch-icon.png in the root directory 
	// build:css styles/vendor.css 
	// bower:css 
	// endbower 
	// endbuild 
	// build:css({.tmp,app}) styles/main.css 
	link(rel='stylesheet', href='styles/main.css')
	// endbuild 
	body(ui-view)
	script(src='bower_components/async/lib/async.js')
		
	script(src='bower_components/requirejs/require.js', data-main='scripts/dependencies.js')
