div.checkin-toolbar(ng-if="data.type === 'students'", ng-init="filterParam = 'firstName'; filterStudents(undefined, filterParam)")
	.row(style="margin-bottom: 10px;")
		.col-md-2.label-btn-lg Sort By
		.col-md-5
			button.btn.btn-lg.btn-default(type="button", ng-click="filterParam = 'firstName'; filterStudents(filterValueArray, filterParam)", ng-class="{active: filterParam === 'firstName'}") First Name
		.col-md-5
			button.btn.btn-lg.btn-default(type="button", ng-click="filterParam = 'lastName'; filterStudents(filterValueArray, filterParam)", ng-class="{active: filterParam === 'lastName'}") Last Name

	.row
		.col-md-2.label-btn-lg Name
		.col-md-2
			button.btn.btn-lg.btn-default(type="button", ng-click="filterValueArray = ['A','B','C','D','E']; filterStudents(filterValueArray, filterParam); filterValue = 'A-E';", ng-class="{active: filterValue === 'A-E'}") A-E
		.col-md-2
			button.btn.btn-lg.btn-default(type="button", ng-click="filterValueArray = ['F','G','H','I','J']; filterStudents(filterValueArray, filterParam); filterValue = 'F-J';", ng-class="{active: filterValue === 'F-J'}") F-J
		.col-md-2
			button.btn.btn-lg.btn-default(type="button", ng-click="filterValueArray = ['K','L','M','N','O']; filterStudents(filterValueArray, filterParam); filterValue = 'K-O';", ng-class="{active: filterValue === 'K-O'}") K-O
		.col-md-2
			button.btn.btn-lg.btn-default(type="button", ng-click="filterValueArray = ['P','Q','R','S','T']; filterStudents(filterValueArray, filterParam); filterValue = 'P-T';", ng-class="{active: filterValue === 'P-T'}") P-T
		.col-md-2
			button.btn.btn-lg.btn-default(type="button", ng-click="filterValueArray = ['U','V','W','X','Y','Z']; filterStudents(filterValueArray, filterParam); filterValue = 'U-Z';", ng-class="{active: filterValue === 'U-Z'}") U-Z

div(style="height:100%;" ng-class="{'col-md-10': data.type === 'students', 'col-md-12': data.type !== 'students'}")
	.device
		.swiper-container.swiper-parent
			.swiper-wrapper

				ttkd-swiper-lateral-item-student(ng-if="data.type === 'students'", parent="swiperParent", items="data.students", swiper-id="0", type="type", selected-class-id="selectedClassId", id="studentholder", filtered-students="studentsFiltered")



				div(ng-repeat="item in data.classes", ng-if="data.type === 'class'")
					div(parent="swiperParent", item="item", swiper-id="$index", type="type", selected-class-id="selectedClassId", ttkd-swiper-lateral-item-class)

.col-md-2(ng-if="data.type === 'students'")
	div(ng-if="breadcrumbs.program", style="{{breadcrumbs.program.style ? breadcrumbs.program.style : ''}}") {{breadcrumbs.program.content ? breadcrumbs.program.content : ''}}
	div(ng-if="breadcrumbs.rank", style="{{breadcrumbs.rank.style ? breadcrumbs.rank.style : ''}}") {{breadcrumbs.rank.content ? breadcrumbs.rank.content : ''}}