.student.height-full
	.name {{studentName}}
	div(style="height:100%; padding-top:1.8vh; padding-bottom:26px;")
		.picture.height-full(style="background: url(/api/fs/files/{{studentAvatar}}/download) no-repeat center; background-size:contain;")
	div(style="margin-top:-45px")
		button.btn.btn-primary.btn-sm(type="button", ng-click="studentContinue()") Check-In