div.checkin-toolbar(ng-if="data.type === 'students'", ng-init="filterParam = 'firstName'; filterStudents(undefined, filterParam)")
	.row(style="margin-bottom: 10px;")
		.col-md-2.label-btn-lg Sort By
		.col-md-5
			button.btn.btn-lg.btn-default(type="button", ng-click="filterParam = 'firstName'; filterStudents(filterValueArray, filterParam)", ng-class="{active: filterParam === 'firstName'}") First Name
		.col-md-5
			button.btn.btn-lg.btn-default(type="button", ng-click="filterParam = 'lastName'; filterStudents(filterValueArray, filterParam)", ng-class="{active: filterParam === 'lastName'}") Last Name

	.row
		.col-md-2.label-btn-lg Name
		.col-md-2(ng-repeat="nameFilter in nameFilters")
			button.btn.btn-lg.btn-default(type="button", ng-click="changeFilter(nameFilter); filterStudents(filterValueArray, filterParam);", ng-class="{active: nameFilter.isActive}") {{nameFilter.filterLabel}}


div(style="height:100%;" ng-class="{'col-md-10': data.type === 'students', 'col-md-12': data.type !== 'students'}")
	.device
		.swiper-container.swiper-parent
			.swiper-wrapper

				ttkd-swiper-lateral-item-student(ng-if="data.type === 'students'", parent="swiperParent", items="data.students", swiper-id="0", type="type", selected-class-id="selectedClassId", id="studentholder", filtered-students="studentsFiltered")



				div(ng-repeat="item in data.classes", ng-if="data.type === 'class'")
					div(parent="swiperParent", item="item", swiper-id="$index", type="type", selected-class-id="selectedClassId", ttkd-swiper-lateral-item-class)

.col-md-2.breadcrumbs(ng-if="data.type === 'students'")
	h2 Change
	div.checkin-breadcrumb(ng-if="breadcrumbs.program", style="{{breadcrumbs.program.style ? breadcrumbs.program.style : ''}}")
		div
			button.btn.btn-default(ng-click="goToSelectProgram()") {{breadcrumbs.program.content ? breadcrumbs.program.content : ''}}
		.breadcrumb-identifier Program
	div.checkin-breadcrumb(ng-if="breadcrumbs.class", style="{{breadcrumbs.class.style ? breadcrumbs.program.style : ''}}")
		div
			button.btn.btn-default(ng-click="goToSelectProgram()") {{breadcrumbs.class.content ? breadcrumbs.class.content : ''}}
		.breadcrumb-identifier Class
	div.checkin-breadcrumb(ng-if="breadcrumbs.rank")
		div
			button.btn.btn-default(ng-click="goToSelectRank(selectedClassId)", style="{{breadcrumbs.rank.style ? breadcrumbs.rank.style : ''}}") {{breadcrumbs.rank.content ? breadcrumbs.rank.content : ''}}
		.breadcrumb-identifier Rank